[Unit]
Description=DNS Reverse Proxy
After=network.target

[Service]
ExecStart=/usr/local/sbin/dnsreverseproxy -m example.com -l :53
Restart=always

[Install]
WantedBy=multi-user.target
